@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html { 
  scroll-behavior: smooth;
  font-family: 'Inter', sans-serif;
}

.text-gd {
  background: linear-gradient(to right, #451990 0%, #bd98f9 70%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.text-semi-gd {
  background: linear-gradient(79.28deg, #5B209A -2.57%, #9A63F9 92.04%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.text-light-gd {
  background: linear-gradient(93.04deg, #671FB4 3.33%, #955EF4 82.31%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.button-gd {
  background: linear-gradient(96.71deg, #F9D240 0%, #ECAC18 101.64%);
}

.background-gd {
  background : linear-gradient(to top, rgba(141, 141, 236, 0.167177) 45.74%, rgba(84, 84, 212, 0.0001) 86.05%)
}

.line-gd {
  background: linear-gradient(to right, #8A56DE 64.39%, #F3C44A 103.05%);
}

.carousel-gd {
  background: linear-gradient(121.96deg, #8A56DE 64.39%, #F3C44A 103.05%);
}
 
th,td {
  padding : 1rem;
  padding-inline: 2rem;
}

.circle-gd {
  background : linear-gradient(147.31deg, rgba(141, 141, 236, 0.167177) 45.74%, rgba(84, 84, 212, 0.0001) 86.05%);
}

.menu-child {
  width: 0%;
  height: 2px;
  transition: all 0.25s;
  background-color: #5B5B5B;
  border-radius: 5px;
}

.menu-parents:hover .menu-child {
  width: 100%;
}

.floating-logo {
  animation: float 4s infinite;
}

.swiper-slide {
  height: auto !important;
}

@keyframes float {

  33% {
    transform : translatey(5%)
  }

  100% {
    transform: translateY(0);
  }
}